.elements{
    display: grid;
    grid-template-rows: repeat(2, 361px);
    grid-template-columns: repeat(3, 282px);
    row-gap: 20px;
    column-gap: 17px;
    margin: 51px auto 0;
    max-width: 880px;
}
@media screen and (max-width: 970px){
    .elements{
        grid-template-columns:  repeat(2, 282px);
        grid-template-rows: repeat(3, 361px);
        margin-top: 0;
        max-width: 581px;
    }
}
@media screen and (max-width: 652px){
    .elements{
        grid-template-columns: 282px;
        max-width: 282px;
    }
}