.profile__info{
    display: grid;
    margin: 22px auto 25px 30px;
    column-gap: 16px;
    grid-template-areas: 
    "title title btn"
    "subtitle subtitle .";
}
@media screen and (max-width: 970px){
    .profile__info{
        text-align: center;
        max-width: 282px;
        grid-template-columns: 37px 1fr 18px 9px;
        column-gap: 10px;
        row-gap: 4px;
        margin: 26px 0 0 0;
        grid-template-areas: 
        ". title btn ."
        ". subtitle . .";
    }
}
